/*For bigger screen then normal 1500px desktop*/

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
 
}

@media (min-width: 1200px) and (max-width: 1700px) {


}

@media only screen and (max-width: 1300px) {

}
@media only screen and (max-width: 1199px) {

  .biturbo-hero-thumb {
    height: 600px;
}

.bosch-product-column {

  grid-template-columns: 1fr 1fr!important;
}

}

@media (min-width: 992px) and (max-width: 1024px) {

}


/*For Tablet Layout*/
@media(max-width: 991px) {

  .bosch-hero-content p {
    font-size: 20px;
}
.bosch-content h2, 
.bosch-product-title h2, 
.bosch-add-title h2{
  font-size: 40px;
}
.bosch-content p {
  font-size: 36px;
  line-height: 40px;
}

.video-init img{
  width: 120px;
}
.bosch-main-item{
  align-items: flex-start;
}
.bosch-main-thumb{
  padding: 40px!important;
}
.bosch-main-data{
  padding: 40px;
  padding-top: 0!important;
}
.bosch-main-data h3 {
  font-size: 36px;
}
.bosch-product-section {
  padding: 80px 0;
}
.bosch-product-title {
  margin-bottom: 80px;
}
.bosch-add-data p {
  font-size: 12px;
}

}


/*For Wide Mobile Layout*/
@media (max-width: 767px) {

.bosch-hero-thumb {
  height: 500px;
  padding: 30px;
}
.bosch-hero-content h1 {
  font-size: 30px;
}
.bosch-content h2, 
.bosch-product-title h2, 
.bosch-add-title h2{
  font-size: 30px;
}
.bosch-content p {
  font-size: 24px;
  line-height: 30px;
}
.video-init img{
  width: 110px;
}
.bosch-main-thumb{
  padding: 25px!important;
}
.bosch-main-data {
  padding: 25px;
}
.bosch-main-data h3 {
  font-size: 24px;
}
.bosch-product-title {
  margin-bottom: 60px;
}
.bosch-product-thumb{
  height: auto;
}
.bosch-add-column {
  column-gap: 10px;
}
.bosch-add-data img {
  width: 20px;
}
.bosch-add-data p {
  font-size: 8px;
}
}


/*For 320-384px up Mobile Layout*/
@media (max-width: 575px) {
  .bosch-product-column {
    gap: 20px;
}
.bosch-product-data {
  padding: 15px;
}
  .bosch-product-data h4 {
    font-size: 18px;

}
}

