/*For bigger screen then normal 1500px desktop*/

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
 
}

@media (min-width: 1200px) and (max-width: 1700px) {


}

@media only screen and (max-width: 1300px) {
  .biturbo-hero-content h1{
    font-size: 60px;
  }




}
@media only screen and (max-width: 1199px) {

  .biturbo-hero-thumb {
    padding: 60px;
    height: 650px;
}


}

@media (min-width: 992px) and (max-width: 1024px) {

}


/*For Tablet Layout*/
@media(max-width: 991px) {
  .biturbo-hero-content h1{
    font-size: 48px;
  }
  .biturbo-hero-content p {
    font-size: 20px;
}
.biturbo-working-item h2, 
.biturbo-cta-contnt h2, 
.biturbo-section-title h2 {
    font-size: 36px;
}
.biturbo-working-item {
  grid-template-columns: 1fr!important;
}
.biturbo-working-item p, 
.biturbo-cta-contnt p{
  font-size: 20px;
  line-height: 30px;
}
.biturbo-cta-contnt{
  padding: 30px;
}
.biturbo-product-column {
  grid-template-columns: 1fr  1fr!important;
}

}


/*For Wide Mobile Layout*/
@media (max-width: 767px) {

.biturbo-working-item h2, 
.biturbo-section-title h2 {
    font-size: 30px;
}
.biturbo-hero-thumb {
  padding: 25px;
  height: 650px;
}
.biturbo-hero-content h1 {
  font-size: 35px;
}
.biturbo-hero-content {
  padding: 24px;
}
.biturbo-working-btn{
  text-align: center;
}
.biturbo-product-column {
  gap: 50px;
}
.biturbo-default-btn {
  padding: 10px 10px;
  font-size: 16px;
}
.biturbo-product-data p{
  font-size: 20px;
}
}


/*For 320-384px up Mobile Layout*/
@media (max-width: 575px) {
  .biturbo-product-data span {
    font-size: 13px;
    margin-bottom: 7px;
    display: block;
}

}

