
body {
  
  background-color:#fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-family: 'BoschSansRegular';
}


img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  width: 100%;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  color: #000;
  font-weight: 700;
  line-height: 1em;
  font-family: 'BoschSansBold';
}

p:last-child{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


/*---------------------------------------------------
HEADER SECTION 
----------------------------------------------------*/
.bosch-logo{
  padding: 30px;
  background-color: #293136;
}
span.wishlist_products_counter_number {
  color: #fff!important;
}
.wishlist_products_counter {
  color: #fff!important;
}
.box a {
  color: #E83C3B;
}

.bosch-hero-thumb {
  padding: 50px;
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.bosch-hero-content {
  padding: 24px;
  max-width: 410px;
  background-color: #fff;
}
.bosch-hero-content h1{
  font-size:40px;
  color: #000000;
  margin-bottom: 20px;
}
.bosch-hero-content p {
  font-size: 24px;
  color: #000;
  line-height: 30px;
  font-weight: 700;
}

/* content section */
.bosch-content-section {
  padding: 60px 0;
}
.bosch-content-section.dark{
  background-color: #293136;
  margin-top: 50px;
}
.bosch-content h2, 
.bosch-product-title h2, 
.bosch-add-title h2{
  font-size: 60px;
  color: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.bosch-content.light h2, 
.bosch-content.light p{
  color: #fff;
}

.bosch-content p {
  font-size: 40px;
  color: #000;
  line-height: 44px;
}

/* video section */
.bosch-video-wrap{
  position: relative;
}
.bosch-video-wrap img{
  width: 100%;
}
.video-init {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main section */
.bosch-main-section {
  background-color: #293136;
  padding: 50px 0 0;
}
.bosch-main-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.bosch-main-thumb {
  background-color: #fff;
  padding: 60px;
  text-align: center;
}
.bosch-main-data{
  padding: 60px;
}
.bosch-main-data h3{
  font-size: 38px;
  color: #fff;
  margin-bottom: 10px;
}
.bosch-main-data p{
  font-size: 16px;
  color: #fff;
}

/* product section */
.bosch-product-section {
  padding: 100px 0;
}
.bosch-product-title {
  margin-bottom: 100px;
}
.bosch-product-column {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bosch-product-thumb {
  margin-bottom: 30px;
  height: 175px;
  text-align: center;
}
.bosch-product-data {
  padding: 20px;
  background-color: #F5F6F6;
}
.bosch-product-data h4{
  font-size: 26px;
  color: #293036;
  text-transform: uppercase;
}
.bosch-product-data p{
  font-size: 16px;
}
.bosch-product-bottom {
  padding-top: 80px;
}

/* add section */
.bosch-add-section{
  padding: 80px 0;
  background-color: #293035;
}
.bosch-add-title h2{
  color: #fff;
}
.bosch-add-title{
  margin-bottom: 50px;
}
.bosch-add-column {
  display: grid;
  row-gap: 30px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.bosch-add-thumb{
  padding-bottom: 10px;
}
.bosch-add-thumb img{
  width: 100%;
}
.bosch-add-data {
  display: flex;
  gap: 5px;
  align-items: center;
  max-width: 100px;
}
.bosch-add-data img{
  width: 30px;
}
.bosch-add-data p{
  color: #fff;
  font-weight: 300;
}